.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.p-1 {
  padding: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}